
<h2> Featured items </h2>
    <% @items.each do |item|  %>
        <ul>
            <li><%= link_to item.name, item_path(item) %></li>
        </ul>
    <% end %>
<h2> Featured brands </h2>
    <% @brands.each do |brand|  %>
        <ul>
            <li><%= link_to brand.name, brand_path(brand) %></li>
        </ul>
    <% end %>



<h2> You can't find what you want? Fill out the form to ask your personnal shopper to buy an item on demand </h2>
<%= form_for(@item) do |f| %>
    <br>Name:<br>
    <%= f.text_field :name %><br>
    <br>Brand:<br>
    <% @brands.each do |brand|  %>
        <%= f.check_box :brand %> <%= brand.name %> <br>
    <% end %>
    <br>Category:<br>
    <% @categories.each do |category|  %>
        <%= f.check_box :category %> <%= category.name %> <br>
    <% end %>
    <br>Color:<br>
    <%= f.text_field :color %><br>
    <br>Description:<br>
    <%= f.text_area :description %><br>
    <%= f.submit %>
<% end %>
 