<h1> Login </h1>

<%= form_tag(sessions_path) do %>
    <%= text_field_tag :email,'', placeholder: "Email" %>
    <%= text_field_tag :password,'', placeholder: "Password" %>
    <%= submit_tag %>
<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<footer>
<%= link_to "Create an account", '/users/new' %>
</footer>