<h1><%= @category.name %></h1>

<% @category.items.each do |item| %>
    <ul>
        <li><%= link_to item.name, [@category, item] %></li>
    </ul>
<% end %>

<%= link_to "Buy an unlisted item", new_category_item_path(@category) %>

<%= form_tag("/items/sold", method: :get, id: "sold_items") do %>
    <%= submit_tag("See sold items") %>
<% end %>

<div id="soldItemsHook"></div>

<script src="/assets/soldItems.js"></script>