<h1><%= @category.name %></h1>

<% @category.items.each do |item| %>
    <ul>
        <li><%= link_to item.name, [@category, item] %></li>
    </ul>
<% end %>

<%= form_tag("/items/sold", method: :get, id: "sold_items") do %>
    <%= submit_tag("See sold items") %>
<% end %>

<div class="categories_items"></div>

<h2> You can't find what you want? Fill out the form to ask your personnal shopper to buy an item on demand </h2>
<%= form_for([@category, @item]) do |f| %>
    <%= render "items/new_item_form",f: f %>
<% end %>

<script src="/assets/soldItems.js"></script>